body
{
	background-color:aqua;
	background-image : url("back6.gif");
	background-size : cover;
}

h1
{
	font-size: 30px;
	font-family:Georgia;
	color : maroons;
}
#content
{
	padding : 15px;
	text-align : center;
	border : 3px solid tan;
	margin-left:30%;
	margin-right:30%;
	margin-top:10%;
	background-color : Peru;
}
@media only screen and (max-width :750px)
{
	#content
	{
		font-size:18px;
		margin-left:10%;
		margin-right:10%;
		margin-top:2%;
	}
}
		
p
{
	font-size : 20px;
	font-family :Comic Sans MS;
	color : orange;
}
a
{
	font-size : 20px;
	font-family :Comic Sans MS;
	color : teal;
}

#email
{
	width : 350px;
	height: 35px;
	color: darkred;
	font-size : 15px;
}
#sub 
{
	width : 120px;
	height : 40px;
	background-color : Aquamarine;
	color : darkred;
	font-size : 20px;
	font-family :Comic Sans MS;
	margin :10px;
}